--
-- PostgreSQL database dump
--

\restrict Hm4KUbML12czxz7zcITgS53qpQ6Dxnc5R6qWvPLGSWlYaQeQgvLO5x7IvpDo4lZ

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: resolve_plate_alert(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.resolve_plate_alert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    barcode_to_resolve VARCHAR;
BEGIN
    SELECT TRIM(pl_bc) INTO barcode_to_resolve
    FROM plates
    WHERE pl_id = NEW.plate_id; 

    IF barcode_to_resolve IS NOT NULL THEN
        UPDATE maintenance_alerts
        SET status = 'resolved'
        WHERE TRIM(tool_barcode) = barcode_to_resolve AND status = 'new';
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.resolve_plate_alert() OWNER TO postgres;

--
-- Name: resolve_squeegee_alert(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.resolve_squeegee_alert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    barcode_to_resolve VARCHAR;
BEGIN
    -- 1. Obtenemos el barcode SIN ESPACIOS
    SELECT TRIM(sq_bc) INTO barcode_to_resolve
    FROM squeegees
    WHERE sq_id = NEW.squeegee_id;

    IF barcode_to_resolve IS NOT NULL THEN
        -- 2. Actualizamos la alerta comparando SIN ESPACIOS
        UPDATE maintenance_alerts
        SET status = 'resolved'
        WHERE TRIM(tool_barcode) = barcode_to_resolve AND status = 'new';
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.resolve_squeegee_alert() OWNER TO postgres;

--
-- Name: resolve_stencil_alert(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.resolve_stencil_alert() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    barcode_to_resolve VARCHAR;
BEGIN
    SELECT TRIM(st_bc) INTO barcode_to_resolve
    FROM stencils
    WHERE st_id = NEW.stencil_id; 

    IF barcode_to_resolve IS NOT NULL THEN
        UPDATE maintenance_alerts
        SET status = 'resolved'
        WHERE TRIM(tool_barcode) = barcode_to_resolve AND status = 'new';
    END IF;

    RETURN NEW;
END;
$$;


ALTER FUNCTION public.resolve_stencil_alert() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: active_tooling; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.active_tooling (
    line_number character varying(2) NOT NULL,
    stencil_bc character varying(100),
    squeegee_f_bc character varying(100),
    squeegee_r_bc character varying(100),
    squeegee_y_bc character varying(100),
    plate_bc character varying(100),
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.active_tooling OWNER TO postgres;

--
-- Name: maintenance_alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.maintenance_alerts (
    alert_id integer NOT NULL,
    tool_type character varying(20),
    tool_barcode character varying(100),
    line_number character varying(2),
    current_uses_recorded integer,
    max_uses_recorded integer,
    alert_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'new'::character varying
);


ALTER TABLE public.maintenance_alerts OWNER TO postgres;

--
-- Name: maintenance_alerts_alert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.maintenance_alerts_alert_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.maintenance_alerts_alert_id_seq OWNER TO postgres;

--
-- Name: maintenance_alerts_alert_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.maintenance_alerts_alert_id_seq OWNED BY public.maintenance_alerts.alert_id;


--
-- Name: models; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.models (
    model_name character varying(30) NOT NULL,
    model_side character varying(3) NOT NULL,
    model_qr character varying(30),
    pn_pcb character varying(15) NOT NULL,
    pasta character varying(20),
    length integer,
    plate_pcb character varying(50),
    stencil_pcb character varying(50)
);


ALTER TABLE public.models OWNER TO postgres;

--
-- Name: plate_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plate_history (
    plate_id integer NOT NULL,
    pl_h_date timestamp with time zone NOT NULL,
    pl_h_status character varying(10) NOT NULL,
    pl_h_com character varying(45) NOT NULL,
    pl_responsable character varying
);


ALTER TABLE public.plate_history OWNER TO postgres;

--
-- Name: plates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.plates (
    pl_id integer NOT NULL,
    pl_job character varying(15) NOT NULL,
    supp_name character varying(30),
    pn_pcb character varying(30) NOT NULL,
    model_side character varying(3) NOT NULL,
    pl_no_serie numeric,
    pl_ver character varying(2),
    pl_arrived_date timestamp with time zone,
    pl_status character varying(10),
    pl_bc character varying(25),
    pl_qr bytea,
    pl_current_us integer,
    pl_mx_us integer,
    pl_uploader character varying
);


ALTER TABLE public.plates OWNER TO postgres;

--
-- Name: plates_pl_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.plates_pl_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.plates_pl_id_seq OWNER TO postgres;

--
-- Name: plates_pl_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.plates_pl_id_seq OWNED BY public.plates.pl_id;


--
-- Name: production_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.production_log (
    log_id integer NOT NULL,
    log_timestamp timestamp with time zone DEFAULT now(),
    line_number integer NOT NULL,
    pn_pcb character varying(50) NOT NULL,
    model_name character varying(100),
    model_side character varying(10),
    stencil_bc character varying(100),
    squeegee_f_bc character varying(100),
    squeegee_r_bc character varying(100),
    squeegee_y_bc character varying(100),
    plate_bc character varying(100),
    pasta_lot character varying(100),
    username character varying(100)
);


ALTER TABLE public.production_log OWNER TO postgres;

--
-- Name: production_log_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.production_log_log_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.production_log_log_id_seq OWNER TO postgres;

--
-- Name: production_log_log_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.production_log_log_id_seq OWNED BY public.production_log.log_id;


--
-- Name: squeegee_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.squeegee_history (
    squeegee_id integer NOT NULL,
    sq_h_date timestamp with time zone NOT NULL,
    sq_h_status character varying(10) NOT NULL,
    sq_h_com character varying(100) NOT NULL,
    sq_responsable character varying(5)
);


ALTER TABLE public.squeegee_history OWNER TO postgres;

--
-- Name: squeegees; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.squeegees (
    sq_id integer NOT NULL,
    sq_length integer,
    sq_side character varying(1),
    sq_status character varying(10),
    sq_bc character varying(20),
    sq_qr bytea,
    sq_current_us integer,
    sq_mx_us integer,
    sq_arrived_date date
);


ALTER TABLE public.squeegees OWNER TO postgres;

--
-- Name: squeegees_sq_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.squeegees_sq_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.squeegees_sq_id_seq OWNER TO postgres;

--
-- Name: squeegees_sq_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.squeegees_sq_id_seq OWNED BY public.squeegees.sq_id;


--
-- Name: stencil_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stencil_history (
    stencil_id integer NOT NULL,
    st_h_date timestamp with time zone NOT NULL,
    st_h_status character varying(10) NOT NULL,
    st_h_com character varying(255) NOT NULL,
    st_responsable character varying(5)
);


ALTER TABLE public.stencil_history OWNER TO postgres;

--
-- Name: stencils; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stencils (
    st_id integer NOT NULL,
    st_job character varying(11) NOT NULL,
    supp_name character varying(30) NOT NULL,
    pn_pcb character varying(30) NOT NULL,
    model_side character varying(3) NOT NULL,
    st_no_serie numeric,
    st_ver character varying(2),
    st_side character varying(3),
    thickness numeric(5,2),
    st_status character varying(10),
    st_bc character varying(20),
    st_qr bytea,
    st_current_us integer,
    st_mx_us integer,
    st_arrived_date date,
    st_uploader character varying
);


ALTER TABLE public.stencils OWNER TO postgres;

--
-- Name: stencils_st_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stencils_st_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stencils_st_id_seq OWNER TO postgres;

--
-- Name: stencils_st_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stencils_st_id_seq OWNED BY public.stencils.st_id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    supp_name character varying(30) NOT NULL,
    supp_info character varying(45)
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: tooling_map; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tooling_map (
    map_id integer NOT NULL,
    model_pn_pcb character varying(30) NOT NULL,
    model_side character varying(3) NOT NULL,
    sq_id integer NOT NULL
);


ALTER TABLE public.tooling_map OWNER TO postgres;

--
-- Name: tooling_map_map_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tooling_map_map_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tooling_map_map_id_seq OWNER TO postgres;

--
-- Name: tooling_map_map_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tooling_map_map_id_seq OWNED BY public.tooling_map.map_id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    name character varying(30) NOT NULL,
    password character varying,
    privilege integer,
    last_name1 character varying(10),
    last_name2 character varying(10),
    no_employee character varying(5) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: work_line; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.work_line (
    wl_no integer NOT NULL,
    model_name character varying(30) NOT NULL,
    model_side character varying(3) NOT NULL,
    run integer NOT NULL
);


ALTER TABLE public.work_line OWNER TO postgres;

--
-- Name: maintenance_alerts alert_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_alerts ALTER COLUMN alert_id SET DEFAULT nextval('public.maintenance_alerts_alert_id_seq'::regclass);


--
-- Name: plates pl_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plates ALTER COLUMN pl_id SET DEFAULT nextval('public.plates_pl_id_seq'::regclass);


--
-- Name: production_log log_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_log ALTER COLUMN log_id SET DEFAULT nextval('public.production_log_log_id_seq'::regclass);


--
-- Name: squeegees sq_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.squeegees ALTER COLUMN sq_id SET DEFAULT nextval('public.squeegees_sq_id_seq'::regclass);


--
-- Name: stencils st_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stencils ALTER COLUMN st_id SET DEFAULT nextval('public.stencils_st_id_seq'::regclass);


--
-- Name: tooling_map map_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tooling_map ALTER COLUMN map_id SET DEFAULT nextval('public.tooling_map_map_id_seq'::regclass);


--
-- Data for Name: active_tooling; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.active_tooling (line_number, stencil_bc, squeegee_f_bc, squeegee_r_bc, squeegee_y_bc, plate_bc, last_updated) FROM stdin;
2	P00.483-00-TOP-1.0-A	S-23-300-F	S-15-300-R	\N	MGH100AD MOCi-1.0-A	2025-12-11 10:12:29.476653
1	P00.472-00-TOP-1.0-C	S-19-250-F	S-02-250-R	\N	MRR35-1.0-A	2025-12-11 14:27:43.119397
3	P00.435-00-BOT-1.0-D	\N	\N	S-41-250-Y	IDBMAIN-1.0-A	2025-12-12 01:24:06.447612
4	P00.632-00-BOT-1.0-A	\N	\N	S-38-350-Y	IAMM-1.0-A	2025-12-12 09:54:08.27835
\.


--
-- Data for Name: maintenance_alerts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.maintenance_alerts (alert_id, tool_type, tool_barcode, line_number, current_uses_recorded, max_uses_recorded, alert_timestamp, status) FROM stdin;
\.


--
-- Data for Name: models; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: plate_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.plate_history (plate_id, pl_h_date, pl_h_status, pl_h_com, pl_responsable) FROM stdin;
\.


--
-- Data for Name: plates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: production_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: squeegee_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.squeegee_history (squeegee_id, sq_h_date, sq_h_status, sq_h_com, sq_responsable) FROM stdin;
\.


--
-- Data for Name: squeegees; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stencil_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stencils; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (supp_name, supp_info) FROM stdin;
Corea	
Stentech	
FCTA	
BGTD	BEGIN
\.


--
-- Data for Name: tooling_map; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tooling_map (map_id, model_pn_pcb, model_side, sq_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: work_line; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: maintenance_alerts_alert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.maintenance_alerts_alert_id_seq', 11, true);


--
-- Name: plates_pl_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.plates_pl_id_seq', 15, true);


--
-- Name: production_log_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.production_log_log_id_seq', 70, true);


--
-- Name: squeegees_sq_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.squeegees_sq_id_seq', 43, true);


--
-- Name: stencils_st_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stencils_st_id_seq', 102, true);


--
-- Name: tooling_map_map_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tooling_map_map_id_seq', 1, false);


--
-- Name: active_tooling active_tooling_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.active_tooling
    ADD CONSTRAINT active_tooling_pkey PRIMARY KEY (line_number);


--
-- Name: maintenance_alerts maintenance_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.maintenance_alerts
    ADD CONSTRAINT maintenance_alerts_pkey PRIMARY KEY (alert_id);


--
-- Name: models models_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.models
    ADD CONSTRAINT models_pkey PRIMARY KEY (model_side, pn_pcb);


--
-- Name: plate_history plate_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plate_history
    ADD CONSTRAINT plate_history_pkey PRIMARY KEY (plate_id, pl_h_date);


--
-- Name: plates plates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plates
    ADD CONSTRAINT plates_pkey PRIMARY KEY (pl_id);


--
-- Name: production_log production_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.production_log
    ADD CONSTRAINT production_log_pkey PRIMARY KEY (log_id);


--
-- Name: squeegee_history squeegee_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.squeegee_history
    ADD CONSTRAINT squeegee_history_pkey PRIMARY KEY (squeegee_id, sq_h_date);


--
-- Name: squeegees squeegees_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.squeegees
    ADD CONSTRAINT squeegees_pkey PRIMARY KEY (sq_id);


--
-- Name: stencil_history stencil_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stencil_history
    ADD CONSTRAINT stencil_history_pkey PRIMARY KEY (stencil_id, st_h_date);


--
-- Name: stencils stencils_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stencils
    ADD CONSTRAINT stencils_pkey PRIMARY KEY (st_id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (supp_name);


--
-- Name: tooling_map tooling_map_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tooling_map
    ADD CONSTRAINT tooling_map_pkey PRIMARY KEY (map_id);


--
-- Name: tooling_map uq_model_squeegee_map; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tooling_map
    ADD CONSTRAINT uq_model_squeegee_map UNIQUE (model_pn_pcb, model_side, sq_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (no_employee);


--
-- Name: work_line work_line_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.work_line
    ADD CONSTRAINT work_line_pkey PRIMARY KEY (wl_no, model_name, model_side);


--
-- Name: idx_unique_new_alert; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_unique_new_alert ON public.maintenance_alerts USING btree (tool_barcode) WHERE ((status)::text = 'new'::text);


--
-- Name: plate_history trg_after_plate_history_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_after_plate_history_insert AFTER INSERT ON public.plate_history FOR EACH ROW EXECUTE FUNCTION public.resolve_plate_alert();


--
-- Name: squeegee_history trg_after_squeegee_history_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_after_squeegee_history_insert AFTER INSERT ON public.squeegee_history FOR EACH ROW EXECUTE FUNCTION public.resolve_squeegee_alert();


--
-- Name: stencil_history trg_after_stencil_history_insert; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_after_stencil_history_insert AFTER INSERT ON public.stencil_history FOR EACH ROW EXECUTE FUNCTION public.resolve_stencil_alert();


--
-- Name: plate_history fk_history_plates; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plate_history
    ADD CONSTRAINT fk_history_plates FOREIGN KEY (plate_id) REFERENCES public.plates(pl_id);


--
-- Name: squeegee_history fk_history_squeegees; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.squeegee_history
    ADD CONSTRAINT fk_history_squeegees FOREIGN KEY (squeegee_id) REFERENCES public.squeegees(sq_id);


--
-- Name: stencil_history fk_history_stencils; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stencil_history
    ADD CONSTRAINT fk_history_stencils FOREIGN KEY (stencil_id) REFERENCES public.stencils(st_id);


--
-- Name: tooling_map fk_map_model; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tooling_map
    ADD CONSTRAINT fk_map_model FOREIGN KEY (model_pn_pcb, model_side) REFERENCES public.models(pn_pcb, model_side);


--
-- Name: tooling_map fk_map_squeegee; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tooling_map
    ADD CONSTRAINT fk_map_squeegee FOREIGN KEY (sq_id) REFERENCES public.squeegees(sq_id);


--
-- Name: plates fk_models; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plates
    ADD CONSTRAINT fk_models FOREIGN KEY (pn_pcb, model_side) REFERENCES public.models(pn_pcb, model_side);


--
-- Name: stencils fk_models_st; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stencils
    ADD CONSTRAINT fk_models_st FOREIGN KEY (pn_pcb, model_side) REFERENCES public.models(pn_pcb, model_side);


--
-- Name: plates fk_pl_supplier; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.plates
    ADD CONSTRAINT fk_pl_supplier FOREIGN KEY (supp_name) REFERENCES public.suppliers(supp_name);


--
-- Name: stencils fk_stencils_suppliers; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stencils
    ADD CONSTRAINT fk_stencils_suppliers FOREIGN KEY (supp_name) REFERENCES public.suppliers(supp_name);


--
-- PostgreSQL database dump complete
--

\unrestrict Hm4KUbML12czxz7zcITgS53qpQ6Dxnc5R6qWvPLGSWlYaQeQgvLO5x7IvpDo4lZ

